@import '../typi/scss/typi';
//components
@import 'variables';
@import 'partials/nav';
@import 'partials/card';

.ta-c {
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	max-width: 1180px;
	padding: 0 20px;
	margin: 0 auto;
}
.flex-align {
	display: flex;
	justify-content: space-between;
}

html {
	@include typi-init;
	font-family: 'Montserrat', sans-serif;
	color: $text-color;
}

body {
	@include typi('base');
}

h1 {@include typi('h1');}
h2 {@include typi('h2');}
h3 {@include typi('h3');}
h4 {@include typi('h4');}

h1, h2, h3, h4 {
	margin-bottom: vr(1);
}

@include phone-only {
	h4 {margin-top: vr(1);}
}

.small-font {
	font-size: $small-font;
}


.bold-text {
	font-size: 18px;
	font-size: 22px;
	font-weight: 700;
}

.btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: $primary-color;
	border-radius: 4px;
	transition: all 0.3s;

	&:hover {
		background: $secondary-color;
	}
}

.ghost-btn {
	display: inline-block;
	text-decoration: none;
	color: $secondary-color;
	background: transparent;
	border-radius: 4px;
	border: 1px solid $secondary-color;
	padding: 15px 34px;
	transition: all 0.3s;

	&:hover {
		background: $secondary-color;
		color: #fff;
	}
}

p {
	margin-bottom: vr(1);
	line-height: 1.6;
}


//sticky footer
.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}
//end sticky footer


.site-header {
	// margin-bottom: vr(1);
	height: 98px;
}

.hero-banner {
	height: 448px;
	// margin-top: 98px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-text {
	text-align: center;
	// font-style: italic;
	> .subtitle {
		margin-bottom: vr(0.4);
		
		font-size: 24px;
		@include tablet-portrait-up {
			font-size: 36px;
		}
	}
}

.search-bar {
	transform: translateY(-40px);
	margin-bottom: vr(2);

	max-width: 926px;
	margin: 0 auto;
	position: relative;
}
.search-input {
	width: 100%;
	// max-width: 926px;
	height: 72px;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	border: none;
	text-align: center;
	font-size: 16px;
	color: $text-color;
	// margin: 0 auto;
	display: block;
}

.search-btn {
	@include phone-only {
		display: none;
	}
	position: absolute;
	right: 56px;
	top: 27px;
}


.section {
	padding-bottom: vr(3);

	&.-grey {
		background: #e8eaee;
		padding-bottom: 0;
	}
}

.section-title {
	text-align: center;
	margin-bottom: vr(1); // 2 baselines
	// margin-left: 20px;
}

.banner-carousel {
	img {
		max-width: 100%;
	}
}

.center-text {
	text-align: center;
}

.photo-grid {
	// display: grid;
	// grid-template-columns: 1fr 1fr 1fr 1fr;
	// grid-gap: 0 0;
	display: flex;
	flex-wrap: wrap;

	> a {
		width: 100%;
		@include tablet-landscape-up {
			width: 50%;
		}
		@include desktop-up {
		width: 25%;
		}
	}

	.image {
		// max-width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}



.site-footer {
	background: $text-color;
	color: $primary-color;
	color: #fff;
	padding: 48px 0 24px;

	h4 {
		text-transform: uppercase;
	}

	@include phone-only {
	.flex-align {
		display: block;
	}
}




}

.footer-columns {
	> div {
		line-height: 1.4;
	}
}

.banner-carousel {
	.slick-prev {
		left: 32px !important;
		z-index: 10;
	}

	.slick-prev:before {
		content: url(../image/svg/arrow-prev.svg) !important;
		height: 48px !important;
		width: 48px !important;
	}
	.slick-next {
		right: 32px !important;
		z-index: 10;
	}
	.slick-next:before {
		content: url(../image/svg/arrow-next.svg) !important;
		height: 48px !important;
		width: 48px !important;
	}
}

// margin overrides

//margin top
.mt-2 {margin-top: vr(2);}
.mt-4 {margin-top: vr(4);}

//margin-bottom
.mb-1 {margin-bottom: vr(1);}
.mb-2 {margin-bottom: vr(2);}
.mb-3 {margin-bottom: vr(3);}

//padding top
.pt-4 {padding-top: vr(4);}

//padding-bottom
.pb-4 {padding-bottom: vr(4);}

