.card-component {
	box-shadow: 0 1px 5px rgba(156, 160, 171, 0.45);
	border-radius: 4px;
	// width: 356px;
	max-width: 100%;
	height: 100%;
	
	// espalha o conteúdo entre a altura disponível
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;

	.flex-wrap {
		align-items: center;
	}

	.btn {
		font-size: 12px;
		font-weight: 600;
		padding: 8px 12px;
	}

	.title {
		margin-bottom: 20px;
		font-size: 20px !important;
	}

	> .card-image .image {
		// width: 356px;
		// max-width: 100%;
		width: 100%;
		height: 200px;
		object-fit: cover;
		background: #f9f7f7;
	}

	.card-content {
		padding: vr(2) 20px;
	}

	.price {
	font-size: 18px;
}
}

// serve para não cortar a sombra fora
.owl-stage{
    margin: 30px;
}

.card-carousel .slick-list {
  box-sizing: initial;
  padding: 4px 10px vr(2) !important;
}

 /* the slides */
  .card-carousel .slick-slide {
    margin: 0 13px;
  }

  /* the parent */
  // .slick-list {
  //   margin: 0 -13px;
  // }


.slick-prev, .slick-next {
	height: 32px !important;
	width: 32px !important;
	@include big-desktop-up {
	height: 48px !important;  // 32px
	width: 48px !important; // 32px
	}
}
.slick-prev:before, .slick-next:before {
	color: $primary-color !important;
	font-size: 32px !important;
	@include big-desktop-up {
	font-size: 48px !important; // 32px
}
	// opacity: 1 !important; 
}

.card-carousel .slick-prev {
	left: -20px !important;
	@include big-desktop-up {
	left: -37px !important;  //20px
}
	z-index: 100;
}

.card-carousel .slick-next {
	right: -20px !important;
	@include big-desktop-up {
	right: -37px !important; //20px
}
	z-index: 100;
}


//mesma altura itens do slide
.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

