.nav-bar {
	background: #fff;
	
	position: absolute;
	width: 100%;

	.flex-align{
	 align-items: center;
	}

	.logo {
		padding: vr(0.5) 0;
	}
}

.nav-list {
	list-style: none;
}

.f-nav {
	position: fixed;
	z-index: 899;
	top: 0;
	width: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	margin-top: -40px;
	transform: translateY(40px);
	transition: transform .3s ease;

	.logo img {
		height: 48px;
	}
}

.toggle-nav {
	position: relative;
	z-index: 901;
	
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

// estilos menu mobile
@include phone-only {
.nav-list {
	transform: translateX(360px);
	transition: transform 0.3s ease-in;
	height: 100vh;
	position: fixed;
	z-index: 900;
	right: 0;
	top: 0;
	// box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background: #fff;
	// padding: 56px 20px;
	width: 256px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 56px 20px 20px;

	.link {
		text-decoration: none;
		color: $secondary-color;

		display: block;
		padding-top: 14px;
		height: 48px;
	}
}
.nav-list.-active {
	transform: translateX(0);
	
}
}

// estilos do menu desktop
@include tablet-portrait-up {
.toggle-nav {
	display: none;
}
.nav-list {
	display: flex;

	.item {
			margin-left: 32px;
	}

	.item:first-child {
			margin-left: 0;
		}

	.link {
		text-decoration: none;
		color: $secondary-color;
		transition: all .15s ease;
		
		&:active,		
		&:hover {
			border-bottom: 1px solid $secondary-color;
			padding-bottom: 2px;
		}
	}
}
}